schedule==0.5.0
APScheduler==3.5.1
pygal==2.4.0
Flask_Mail==0.9.1
Flask==0.12.2
pandas==0.23.3
Flask_PyMongo==0.5.2
Flask_APScheduler==1.8.0
pymongo==3.6.1
Flask_Bcrypt==0.7.1
numpy==1.14.5
WTForms==2.2.1
Flask_Login==0.4.1
Flask_SQLAlchemy==2.3.2
SPARQLWrapper==1.8.2
