{% extends "layout.html" %}

{% block body %}

      <h2 class="pb-3 pt-2">Experiment Configuration</h2>
      <div class="card mb-3">
        <h3 class="card-header"></h3>
    </div>
      <!--first section-->
      <div class="row align-items-center how-it-works">
        <div class="col-2 text-center bottom">
          <div class="circle">1</div>
        </div>
        <div class="col-6">
                <h5>SPARQL Endpoint</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed porttitor gravida aliquam. Morbi orci urna, iaculis in ligula et, posuere interdum lectus.</p>
            <form method="POST" action="" id="formEndpoint">
                               
                        <div class="form-group">
                            <label class="sr-only" for="endpoint">Sparql Endpoint</label>
                            <input type="text" class="form-control" id="endpoint" name="endpoint" value="http://dbpedia.org/sparql">
                        </div>
                        <p>
                            <!--<input class="btn btn-primary" type="submit" value="Collect"> -->
                            <button id = "btnEndpoint" class="btn btn-primary">Collect</button>
                   </p>    
          </form>
        
        </div>
      </div>

      <!--path between 1-2-->
      <div class="row timeline">
        <div class="col-2">
          <div class="corner top-right"></div>
        </div>
        <div class="col-8">
          <hr/>
        </div>
        <div class="col-2">
          <div class="corner left-bottom"></div>
        </div>
      </div>
      <!--second section-->
      <div class="row align-items-center justify-content-end how-it-works">
        <div class="col-6 text-right">
          <h5>Using Bootstrap</h5>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed porttitor gravida aliquam. Morbi orci urna, iaculis in ligula et, posuere interdum lectus.</p>
          <form method="POST" action="" id="formGraph">
                              
                <div class="form-group">
                    <input type="text" id="graph" name="graph" list="datalist-graph" placeholder="e.g. Select a Graph" class="form-control">
                    <datalist id="datalist-graph"></datalist>
                </div>
                <p>
                  <button id = "btnGraph" class="btn btn-primary">Collect</button>
                </p>    
            </form>
        </div>
        <div class="col-2 text-center full">
          <div class="circle">2</div>
        </div>
      </div>
      <!--path between 2-3-->
      <div class="row timeline">
        <div class="col-2">
          <div class="corner right-bottom"></div>
        </div>
        <div class="col-8">
          <hr/>
        </div>
        <div class="col-2">
          <div class="corner top-left"></div>
        </div>
      </div>
      <!--third section-->
      <div class="row align-items-center how-it-works">
        <div class="col-2 text-center top">
          <div class="circle">3</div>
        </div>
        <div class="col-6">
          <h5>Now with Pug and Sass</h5>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed porttitor gravida aliquam. Morbi orci urna, iaculis in ligula et, posuere interdum lectus.</p>
        </div>
      </div>

      <!--forth section-->
      <div class="row timeline">
        <div class="col-2">
          <div class="corner top-right"></div>
        </div>
        <div class="col-8">
          <hr/>
        </div>
        <div class="col-2">
          <div class="corner left-bottom"></div>
        </div>
      </div>
      <div class="row align-items-center justify-content-end how-it-works">
          <div class="col-6 text-right">
            <h5>Using Bootstrap</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed porttitor gravida aliquam. Morbi orci urna, iaculis in ligula et, posuere interdum lectus.</p>
            <form method="POST" action="" id="formGraph">
                                
                  <div class="form-group">
                      <input type="text" id="graph" name="graph" list="datalist-graph" placeholder="e.g. Select a Graph" class="form-control">
                      <datalist id="datalist-graph"></datalist>
                  </div>
                  <p>
                    <button id = "btnGraph" class="btn btn-primary">Collect</button>
                  </p>    
              </form>
          </div>
          <div class="col-2 text-center full">
            <div class="circle">4</div>
          </div>
        </div>




{% endblock %}