{% extends "layout.html" %}

{% block body %}

<ul class="list-group">
        <li class="list-group-item active">Team</li>
        <li class="list-group-item">Mohammad Rashid <img  style="width:25px; max-width: 10%;height:25px" src="static/img/twitter-3.png"/> <a href="https://twitter.com/rifat_rashid">@rifat_rashid</a> <img  style="width:20px; max-width: 10%;height:20px" src="static/img/email-512.png"/> <a href="mailto::mohammad.rashid@polito.it">mohammad.rashid@polito.it</a></li>
        <li class="list-group-item">Giuseppe Rizzo <img  style="width:25px; max-width: 10%;height:25px" src="static/img/twitter-3.png"/> <a href="https://twitter.com/giusepperizzo">@giusepperizzo </a><img  style="width:20px; max-width: 10%;height:20px" src="static/img/email-512.png"/> <a href="mailto::giuseppe.rizzo@ismb.it">giuseppe.rizzo@ismb.it</a></li>
        <li class="list-group-item">Marco Torchiano <img  style="width:25px; max-width: 10%;height:25px" src="static/img/twitter-3.png"/> <a href="https://twitter.com/mtorchiano">@mtorchiano </a><img  style="width:20px; max-width: 10%;height:20px" src=".static/img/email-512.png"/> <a href="mailto::marco.torchiano@ismb.it">marco.torchiano@ismb.it</a></li>
        <li class="list-group-item">Nandana Mihindukulasooriya <img  style="width:25px; max-width: 10%;height:25px" src="static/img/twitter-3.png"/> <a href="https://twitter.com/nandanamihindu">@nandanamihindu </a><img  style="width:20px; max-width: 10%;height:20px" src="static/img/email-512.png"/> <a href="mailto::nmihindu@fi.upm.es">nmihindu@fi.upm.es</a></li>
        <li class="list-group-item">Oscar Corcho <img  style="width:25px; max-width: 10%;height:25px" src="static/img/twitter-3.png"/> <a href="https://twitter.com/ocorcho">@ocorcho </a><img  style="width:20px; max-width: 10%;height:20px" src="static/img/email-512.png"/> <a href="mailto::ocorcho@fi.upm.es">ocorcho@fi.upm.es</a></li>   
    </ul>
<hr>
<ul class="list-group">
            <li class="list-group-item active">Affiliations</li>
            <li class="list-group-item"><a href="http://softeng.polito.it/">Software Engineering Research Group (Softeng), Politecnico di Torino</a></li>
            <li class="list-group-item"><a href="http://www.ismb.it/en">Istituto Superiore Mario Boella</a></li>
            <li class="list-group-item"><a href="http://oeg-upm.net/">Ontology Engineering Group(OEG), Universidad Politécnica de Madrid</a></li>
</ul>
<hr>
<ul class="list-group">
    <li class="list-group-item active">Publications</li>
    <li class="list-group-item">Mohammad Rashid, Giuseppe Rizzo, Marco Torchiano, Nandana Mihindukulasooriya, and Oscar Corcho, <i>"A Quality Assessment Approach for EvolvingKnowledge Bases."</i> <a href="http://www.semantic-web-journal.net/content/quality-assessment-approach-evolving-knowledge-bases-0"> Accepted for publication in Special issue on Benchmarking Linked Data </a>, Semantic Web Journal (2018)</li>
    <li class="list-group-item">Mohammad Rashid, Giuseppe Rizzo, Nandana Mihindukulasooriya, Marco Torchiano, and Oscar Corcho, <i>"KBQ - A Tool for Knowledge Base Quality Assessment Using Temporal Analysis"</i>,  <a href="http://ceur-ws.org/Vol-2065/paper13.pdf">In Proceedings of Workshops and Tutorials of the 9th International Conference on Knowledge Capture (K-CAP2017), Austin, Texas,2017 </a>, Volume 2065 of CEUR Workshop Proceedings. CEUR-WS. org</li>
    <li class="list-group-item">Mohammad Rashid, Giuseppe Rizzo, Nandana Mihindukulasooriya, Marco Torchiano, and Oscar Corcho,<i> "Knowledge Base Evolution Analysis: A Case Study in the Tourism Domain"</i>, <a href="#">In Proceedings of Workshops on Knowledge Graphs on Travel and Tourism co-located with 18th International Conferenceon Web Engineering (ICWE)</a>, Caceres,Spain, 2018</li>
</ul>

<!--   <ul class="list-group">
            <li class="list-group-item active">License</li>
            <li class="list-group-item">
                   
                    These scripts are free software; you can redistribute it and/or modify it under the terms of the Apache License, Version 2.0 published by the Apache Foundation, either version 2 of the License, or (at your option) any later version. See the file Documentation <a href="http://www.apache.org/licenses/LICENSE-2.0">LICENSE-2.0</a> in the original distribution for details. There is ABSOLUTELY NO warranty.
                </li>
        
        
            </ul>-->


{% endblock %}