{% extends "layout.html" %}

{% block body %}
<div class="card mb-3">
        <h3 class="card-header">About Us</h3>
        <div class="card-body">
          <h5 class="card-title"></h5>
          <h6 class="card-subtitle text-muted"></h6>
          <p> Developed by <a href="http://softeng.polito.it/"> Software Engineering Research Group, Politecnico di Torino</a>, <a href="http://www.ismb.it">ISMB</a>, 
            <a href="http://oeg-upm.net/">Ontology Engineering Group</a>

              </p>
        </div>
</div>

{% endblock %}