div#loading {
    width: 35px;
    height: 35px;
    display: none;
    background: url(/static/img/ajax-loader.gif) no-repeat;
    cursor: wait;
    }

span{color:red;}

.progress-bar.animate {
    width: 100%;
 }


 td.details-control {
    background: url('../img/details_open.png') no-repeat center center;
    cursor: pointer;
}
tr.shown td.details-control {
    background: url('../img/details_close.png') no-repeat center center;
}


 